.mainTop {
    width: 100%;
    height: 534px;
    background-color: #F8FBFA;
    position: relative;
}

.box {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
    box-sizing: border-box;
    height: 553px;
    display: flex;
    align-items: center;
}

.title {
    width: 356px;
    min-height: 141px;
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
}

.text {
    width: 335px;
    min-height: 72px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.decor {
    position: absolute;
    top: 0;
    right: 0;
}

@media(max-width:1425px) {
    .mainTop {
        height: 785px;
    }

    .box {
        display: flex;
        justify-content: center;
        padding-top: 653px;
    }
}

@media(max-width:954px) {
    .decor {
        width: 100%;
        height: 500px;
    }
}

@media(max-width:675px) {
    .decor {
        height: 320px;
    }

    .box {
        padding-top: 340px;
    }

    .mainTop {
        height: 588px;
    }

    .title {
        width: 197px;
        min-height: 141px;
        font-weight: 500;
        font-size: 22px;
        line-height: 32px;
    }

    .text {
        width: 242px;
        min-height: 72px;
        font-weight: 400;
        font-size: 12px;
        line-height: 22px;
        margin-top: -46px;
    }
}

@media(max-width:453px) {
    .decor {
        height: 245px;
    }
    .box {
        padding-top: 58px;
    }
    .mainTop {
        height: 446px;
    }
}

@media(max-width:453px) {
    .decor {
        height: 203px;
    }
}