.background {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #45927F;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.poppup {
    position: relative;
    max-width: 1200px;
    min-width: 600px;
    margin: 0 auto;
    flex-grow: 1;
    box-sizing: border-box;

}

.poppup_box {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    padding: 40px;
    background-color: #F8FBFA;
    border-radius: 5px;
    gap: 15px;
}

.scrollOff {
    overflow: hidden
}

.info {
    padding: 26px 47px;
}

.info_title {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
    margin-bottom: 16px;
}

.info_text {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.input {
    display: flex;
    flex-direction: column;
    width: 452px;
    margin-left: auto;
}

.input_name {
    box-sizing: border-box;
    width: 100%;
    height: 42px;
    padding: 0 73px 0 21px;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    margin: 0 0 17px 0;
    outline: none;
    position: relative;
}

.input_tel {
    box-sizing: border-box;

    width: 100%;
    height: 42px;
    padding: 0 73px 0 21px;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    margin: 0 0 17px 0;
    outline: none
}

.input_email {
    box-sizing: border-box;

    width: 100%;
    height: 42px;
    padding: 0 73px 0 21px;
    font-size: 14px;
    letter-spacing: 1px;
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    margin: 0 0 17px 0;
    outline: none
}

.input_button {
    color: #fff;
    font-size: 14px;
    line-height: 21px;
    font-weight: 400;
    padding: 16px 0;
    width: 196px;
    margin: 16px auto 0 auto;
    border: none;
    background-color: #0DBC91;
    border-radius: 50px;
    cursor: pointer;
    transition: all ease 0.3s;

}

.input_button:hover {
    background-color: #00D29F;
}

.closePoppup {
    position: absolute;
    right: 20px;
    top: -52px;
    cursor: pointer;
    opacity: 0.5;
    transition: all ease 0.3s;
}

.closePoppup:hover {
    opacity: 1;
}

.clear_name {
    position: absolute;
    top: 50px;
    right: 74px;
    cursor: pointer;
    opacity: 0.5;
    transition: all ease 0.3s;
}

.clear_name:hover {
    opacity: 1;
}

.clear_phone {
    position: absolute;
    top: 110px;
    right: 74px;
    cursor: pointer;
    opacity: 0.5;
    transition: all ease 0.3s;
}

.clear_phone:hover {
    opacity: 1;
}

.clear_email {
    position: absolute;
    top: 169px;
    right: 74px;
    cursor: pointer;
    opacity: 0.5;
    transition: all ease 0.3s;
}

.clear_email:hover {
    opacity: 1;
}

@media(max-width:690px) {
    .info {
        padding: 0 27px 0 0;
    }

    .info_title {
        font-size: 26px;

    }

    .info_text {
        font-size: 14px;
    }
}

@media(max-width:572px) {
    .poppup_box {
        flex-direction: column;
        padding: 20px;
    }

    .input {
        width: 320px;
        margin: 0 auto;
    }

    .info {
        padding: 0 0 30px 12px;
    }

    .poppup_box {
        width: 340px;
    }

    .closePoppup {
        position: absolute;
        right: 113px;
        top: -38px;
        cursor: pointer;
        opacity: 0.5;
        transition: all ease 0.3s;
        fill: #00D29F
    }

    .poppup_box {
        margin: 0 auto;
    }
}