.WindowQuestion {
    width: 100%;
}

.title_box {
    margin: 103px 0 0 0;
    display: flex;
    justify-content: center;
}

.title_item {
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
}