
.custom-next-arrow {
  position: absolute;
  top: 86.5%;
  right: 42%;
  transform: translateY(-50%);
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background-image:url("../../img/Vector\ \(2\).svg") !important;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
}
.custom-next-arrow:hover{
  background-image:url("../../img/green\ vector.png") !important;
  background-repeat: no-repeat;
}

.custom-prev-arrow {
  position: absolute;
  top: 86.5%;
  left: 43%;
  transform: translateY(-50%);
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  background-image: url("../../img//Vector\ \(1\).svg" ) !important;
  background-repeat: no-repeat;
  z-index: 20;
  cursor: pointer;
}
.custom-prev-arrow:hover{
  background-image: url("../../img/VectorGreen.svg" ) !important;
  background-repeat: no-repeat;
}
.slider {
  height: 702px;
  position: relative;
}



@media(max-width:1217px) {
  .custom-prev-arrow {
    top: 135% !important;
  }
  .custom-next-arrow {
    top: 135% !important;
  }
}

@media(max-width:923px) {
  .custom-prev-arrow {
    top: 135% !important;
    left: 41% !important;
  }

  .custom-next-arrow {
    left: 55% !important;
    top: 135% !important;
  }
}

@media(max-width:711px) {
  .custom-prev-arrow {
    left: 37% !important;
    top: 135% !important;
  }

  .custom-next-arrow {
    left: 57% !important;
    top: 135% !important;
  }

}
@media(max-width:676px){
  .custom-prev-arrow {
    left: 37% !important;
    top: 119% !important;
  }

  .custom-next-arrow {
    left: 57% !important;
    top: 119% !important;
  }

}
@media(max-width:547px) {
  .custom-prev-arrow {
    left: 32% !important;
    top: 119% !important;
  }

  .custom-next-arrow {
    left: 60% !important;
  }
}
@media(max-width:538px) {
  .custom-prev-arrow {
    left: 32% !important;
    top: 104% !important;
  }

  .custom-next-arrow {
    left: 60% !important;
    top: 104% !important;
  }
}
@media(max-width:452px) {
  .custom-prev-arrow {
    left: 29% !important;
    top: 104.5% !important;
  }

  .custom-next-arrow {
    left: 62% !important;
    top: 104.5% !important
  }
}
@media(max-width:439px) {
  .custom-prev-arrow {
    left: 29% !important;
    top: 105% !important;
  }

  .custom-next-arrow {
    left: 62% !important;
    top: 105% !important;
  }
}
@media(max-width:408px) {
  .custom-prev-arrow {
    top: 93.5% !important;
  }

  .custom-next-arrow {
    top: 93.5% !important;
  }
}
@media(max-width:350px) {
  .custom-prev-arrow {
    left: 25% !important;
    top: 87.5% !important;
  }

  .custom-next-arrow {
    left: 64% !important;
    top: 87.5% !important;
  }
}