.slider {
  height: 702px;
  position: relative;
}

.swiper-wrapper {
  position: relative;
}

.swiper-button-prev {
  background-repeat: no-repeat;
  padding: 5px;
  background-position-y: 9px;
  left: 42% !important;
  top: 95% !important;
}

.swiper-button-next {
  background-repeat: no-repeat;
  padding: 5px;
  left: 54% !important;
  top: 95% !important;
}

.swiper-button-next:hover {
  background-repeat: no-repeat;
}

.swiper-button-prev::after{
  content: url("../../img//Vector\ \(1\).svg" )!important;
}
.swiper-button-next::after{
  content: url("../../img/Vector\ \(2\).svg") !important;
}


@media(max-width:1217px) {
  .swiper-button-prev {
    top: 97% !important;
  }
  .swiper-button-next {
    top: 97% !important;
  }
}

@media(max-width:923px) {
  .swiper-button-prev {
    top: 97% !important;
    left: 41% !important;
  }

  .swiper-button-next {
    left: 56% !important;
    top: 97% !important;
  }
}

@media(max-width:711px) {
  .swiper-button-prev {
    left: 34% !important;
    top: 96.5% !important;
  }

  .swiper-button-next {
    left: 57% !important;
    top: 96.5% !important;
  }

}

@media(max-width:547px) {
  .swiper-button-prev {
    left: 32% !important;
    top: 96.5% !important;
  }

  .swiper-button-next {
    left: 60% !important;
  }
}

@media(max-width:452px) {
  .swiper-button-prev {
    left: 29% !important;
    top: 96% !important;
  }

  .swiper-button-next {
    left: 62% !important;
    top: 96% !important;
  }
}
@media(max-width:408px) {
  .swiper-button-prev {
    top: 95.5% !important;
  }

  .swiper-button-next {
    top: 95.5% !important;
  }
}
@media(max-width:350px) {
  .swiper-button-prev {
    left: 25% !important;
  }

  .swiper-button-next {
    left: 64% !important;
  }
}